/* Fonts
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet">

 */


 /* -------- Color Styles --------> 
 background-color: #030202;
 primary-color: bisque;
 accent-color: yellowgreen;
 accent-color2: #413927;
 Tertiary-color1: #1a1a2e;
 Tertiary-color2: #333333;
 orange-color: #e09200;
 orange-color2: #b77e39;
 
 
 
 
 */





* {
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: 'Space Mono', monospace;
    margin-top: 8rem;
   

    
    
    
}

body {
    
    background-color: #030202;
    font-size: 1.8rem;
    line-height: 2.0;
    margin: 0;
    padding: 0;
    width: 100%;

    
    
}



/* -------- Header Section --------> */



/* -------- Hero Section --------> */


.clients-text {
    grid-column: 1/1;
    font-size: 1.2rem;
    display: flex;
    flex-direction: row;
    /* align-items: center; */
    gap: .8rem;
    /* position: relative; */
    
    
}

.border-background {
    position: relative;
    display: flex;
    align-items: center;
    gap: .8rem;
    border: #1a1a2e solid .1rem;
    padding: .2rem 1.6rem;
    border-radius: 2rem;
}

.text-circle {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: #e09200;
}




.hero-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto;
    align-items: center;
    margin: 0 auto;
    /* justify-items: center; */
    gap: 1.3rem;
    max-width: 120rem;
    padding: 0 4rem;
    position: relative;
    /* column-gap: 8rem; */
}



.main-container {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    max-width: 120rem;
    /* padding: 5rem 8rem 15rem 8rem; */
    margin: 5rem auto 25rem auto;
    
    color: bisque;
    
    
}

.bphoto {
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: center;

}


.bcard {
    
    border-radius: 50%;
    width: 17rem;
    height: 17rem;
    grid-row: 2/3;
   
   
    
}

.hero-h1 {
    color: bisque;
    font-size: 2.5rem;
    font-weight: 600;
    grid-row: 2/3;                  
}

.starts-now {
    background: linear-gradient(
        to right,
        #1a1a2e,
        #e09200
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

.clients-text {
    color: white;
}

.welcome-section {
    font-size: 4rem;
    margin: 1em 0;
    background: linear-gradient(
        to right,
        #1a1a2e,
        #e09200
    );

    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2 {
    padding: 0 2.3em;
    margin-top: 2.3em;
    margin-bottom: 2.3em;
    text-align: center;
}
.maintxt {
    text-align: center;
    margin-bottom: 1em;
    padding: 0 2.3em;
    font-weight: bold;
    /* width: 100ch; */
}

/* -------- Animated Text Section --------> */
 
.animated-text {
    font-size: 2rem;
    font-weight: 600;
    grid-row: 3/4;
    
    
    
    
}



h1 {
    color: bisque;
    font-size: 2rem;
    /* margin-bottom: 2rem; */
    font-weight: 400;
}





.animated-text span {
    position: relative;
    display: inline-block;
    line-height: 1.4;
    
    
   
   
    
}

.animated-text span::before {
    content: 'Better Ads';
    color: yellowgreen;
    animation: words 20s infinite;
    
}

.animated-text span::after {
    content: '';
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    background-color: #030202;
    border-left: 2px solid yellowgreen;
    right: -8px;
    animation: cursor .8s infinite, typing 20s steps(20) infinite;
   
    
   

}

@keyframes cursor {
    to{
        border-left: 2px solid #9acd3200;
    }

    }

    @keyframes words {
        0%, 20% {
            content: 'Better Ads';
        }

        21%, 40% {
            content: 'Google Analytics';
        }

        41%, 60% {
            content: 'Automations';
        }

        61%, 80% {
            content: 'Web Development';
        }

        81%, 100% {
            content: 'Results';
        }




}

@keyframes typing {
   10%,15%,30%,35%,50%,55%,70%,75%,90%,95% {
        width: 0;
    }

    5%,20%,25%,40%,45%,60%,65%,80%,85% {
        width: calc(100% + 8px);
    }
}

/* -------- Divider --------> */
/* .svg-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
} */

.divider {
    position: relative;
    width: 100%;
    height: 60rem;
    overflow: hidden;
    background: none;
    /* margin-top: 32rem; */
}

.divider::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    background-image: url('images/layered-peaks-haikei3.svg');
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    background-position: center;
}




/* -------- Cards Section --------> */

.cards-container {
    
    display: flex;
    flex-direction: row;
    font-size: 2rem;
    justify-content: space-evenly;
    gap: 6em;
    /* padding: 0 2.3em; */
    margin: 4em 0 5em 0;
    text-align: center;
    

    
    
    
   
}


.card {
    
    border: .1em solid #1a1a2e;
    box-sizing: border-box;
    width: 21rem;
    height: 15rem;
    align-content: center;
    /* padding: 0 1em; */
    /* background: #9f8e68 */
    box-shadow: 1rem 2rem 3rem #333;
    background-color: yellowgreen;
    /* font-family: monospace; */
    
    
}



.card:hover {
    transform: scale(1.1, 1.1);
    background-color: #221e16;
    border: .1em solid bisque;
}
.card p {
    color: white;
    font-size: 2.2rem;
}

.card p:hover {
    color: bisque;
}


/* -------- Components Section --------> */

button {
    
    color: white;
    background-color: #1a1a2e;
    padding: .3em;
    box-sizing: border-box;
    height: 1.8em;
    border-radius: .5em;
    width: 13em;
    border: .1em solid #b77e39;

    
    
}

.button:hover {
    transform: scale(1.2, 1.2);
    color: yellowgreen;
}




.email-box {
    /* display: inline-block; */
    margin-top: 2em;
    margin: 3rem 3rem;

}




.portfolio {
    text-decoration: none;
    color: blue;
    margin-bottom: 2em;
}

.linked {
    text-decoration: none;
    color: blue;
    margin-top: 1em;
    margin-bottom: 1.5em
}


a {
    display: block;
    
    
}

a:hover {
    color: yellowgreen;
    /* transform: scale(1, 0.5); */
}

.ask {
    max-width: 50ch;
    text-align: center;
    padding: 0 2.3em;
}

p {
    text-align: center;
}


/* -------- Services Section--------> */

.home-restoration img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 85%;

    
}



.home-restoration p {
   position: relative;
    z-index: 2;
    top: -6em;

}

.services img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 85%;
}

.services p {
    position: relative;
    z-index: 2;
    top: -5em;
    
}

.learn-more img {
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 1;
    opacity: 85%;
}

.learn-more p {
    position: relative;
    z-index: 2;
    top: -5em;
}

/* -------- Media Queries--------> */

@media (max-width: 2000px) {
    .divider {
        /* margin-top: 25rem; */
    }

    .hero-h1 {
        font-size: 3rem;
    }

    .animated-text {
        font-size: 3rem;
}

}

@media (max-width: 900px) {
    .cards-container {
        gap: 1em;
    }

    #bcard {
        /* max-width: 25rem; */
    }

   /* .divider {
    margin-top: 30rem;
   } */
}

@media (max-width: 818px) {
    .cards-container {
        flex-direction: column;
        gap: 3em;
    }

    .maintxt {
        padding: 0 2em;
    }

    #bcard {
       position: static;
    }

   .hero-grid {
        column-gap: 4rem;
   }
}

@media (max-width: 600px) {
    .hero-grid {
        
    }
    
    .bcard {
        width: 14rem;
        height: 14rem;
        }

    .hero-h1 {
        font-size: 2rem;
    }

    h1 {
        font-size: 1.5rem;
    }
   
    span {
        font-size: 1.5rem;
    }

    .border-background {
        font-size: 1rem;
    }

    /* .divider {
        margin-top: 31rem;
    } */

    
}



@media (max-width: 390px) {
    /* Add small-screen overrides here if needed */
    .hero-grid {
        padding: 0 2rem;
    }

    

}